body {
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  background-color: transparent;
  text-decoration-color: transparent;
}

a:visited {
  text-decoration: none;
  background-color: transparent;
  text-decoration-color: transparent;
  color: transparent;
}

ul {
  padding: 0;
}